<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>New course</ion-card-title>
      <ion-card-subtitle>course info</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input
          label="Course Name"
          placeholder="Enter Course Name"
          label-placement="floating"
          [(ngModel)]="courseName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Course Rating"
          placeholder="Enter Course Rating"
          label-placement="floating"
          type="number"
          [(ngModel)]="courseRating"
        ></ion-input>
      </ion-item>
      <div class="ion-margin-vertical ion-text-right">
        <ion-button (click)="clearInputs()" fill="outline" color="danger">
          <ion-icon slot="start" name="close-outline"></ion-icon>
          Clear
        </ion-button>
        <ion-button (click)="addExpense()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Add course
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list>
    @for (course of courseList; track course) {
      <ion-item>
        <ion-label>{{ course.name }}</ion-label>
        <ion-note slot="end">{{ course.rating }}/5</ion-note>
      </ion-item>
    }
  </ion-list>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="Incorrect course"
    message="Check course params"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>

</ion-content>
